* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans";
}

.container {
  max-width: 1314px;
  width: 100%;
  margin: 0 auto;
}

li {
  list-style-type: none;
  text-decoration: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  display: block;
}

.action-btn {
  text-align: center;
  display: inline-block;
  background-color: #deb343;
  color: black;
  border-radius: 3px;
}
