.care {
  padding: 37px 0px 95px 0px;
}
h1 {
  font-size: 35px;
  font-weight: 700;
}
.careWrap {
  display: flex;
  flex-direction: column;
}
.care p {
  font-size: 16px;
  font-weight: normal;
}
.careHeading {
  margin: 0 auto;
  text-align: center;
}
.careHeading img {
  margin-bottom: 22px;
}
.care b {
  color: #5b7c11;
  font-weight: normal;
}
.careDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.careImage {
  max-width: 30%;
  width: 100%;
}
.careImage img {
  width: 100%;
}
.careText {
  max-width: 53%;
  width: 100%;
  font-size: 16px;
  padding-top: 52px;
}
.careText p:nth-child(2) {
  padding: 16px 0px 43px 0px;
}
.careBooking {
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.careBooking a {
  color: #5b7c11;
}
.bookingNum a {
  font-size: 24.76px;
}
.bookingNum {
  padding-right: 41px;
  border-right: 1px solid #deb343;
}
.bookingAppointment {
  margin-left: 33px;
}
.care button {
  font-size: 18px;
  font-weight: 700;
  display: inline;
  padding: 16px 32px;
  color: black;
  background-color: #deb343;
  border: unset;
  border-radius: 4px;
}
